.trafficBox {
    background-color: black;
    width: 100px;
    height: 250px;
    margin: auto;
}
.red {
    background-color: red;
    border: 0px;
    padding: 35px;
    border-radius: 50%;
}
.yellow {
    background-color: yellow;
    border: 0px;
    padding: 35px;
    border-radius: 50%;
}
.green {
    background-color: green;
    border: 0px;
    padding: 35px;
    border-radius: 50%;
}

.bgGlow {
    box-shadow: 0px 0px 105px 45px rgba(214,200,131,0.9);
}
.topLine {
    width: 20px;
    background-color: black;
    height: 100px;
    margin: auto;
}